<div id="expenses-index">
    <div id="budget-setting" class="block">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= label_tag 'budget-input', 'Your budget:' %>
            <%= f.text_field :budget, value: current_user.budget, id: 'budget-input' %>
            <%= f.submit 'Save', id: 'save-budget-btn' %>
        <% end %>
    </div>

    <% if current_user.expenses_this_month.present? %>
    <% row_id = 1 %>
    <table id="expenses-table" class="block">
        <tr>
            <th>#</th>
            <th>Spent Date</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        <% current_user.expenses_this_month.each do |expense| %>
        <tr>
            <td>
                <%= row_id %>
            </td>
            <td>
                <%= expense.spent_date %>
            </td>
            <td>
                <%= expense.name %>
            </td>
            <td>
                <span class="cost" jpy="<%= expense.price %>"></span>
            </td>
            <td>
                <%= image_tag('ic_edit.png', class: 'edit-expense', target: expense.id, row: row_id) %>
                <%= link_to image_tag('ic_delete.png'), "/expenses/#{expense.id}", method: :delete, data: { confirm: "Are you sure?" } %>
                <%= hidden_field_tag 'expensecategory_id', expense.expensecategory_id %>
            </td>
        </tr>
        <% row_id = row_id + 1 %>
        <% end %>
    </table>

    <div id="expenses-summary" class="block">
        <p>Total amount spent this month: <span class="total-cost" jpy="<%= current_user.total_expenses_this_month %>"></span></p>
        <p>Average daily budget for remaining days: <span class="cost" jpy="<%= current_user.average_daily_budget_for_remaining_days %>">¥<%= current_user.average_daily_budget_for_remaining_days %></span> <span class="diff-cost" jpy="<%= current_user.average_daily_budget_difference %>"></span></p>
    </div>
    <% end %>

    <div id="convert-rate-field" class="block">
        <button type="button" id="convert-rate" target="USD">Convert to USD</button>
    </div>

    <div id="toggle-add-expense-field" class="block">
        <button id="new-expense-btn">New Expense</button>
    </div>

    <%= form_with(url: expenses_path, local: true, id: "add-expense-form", class: "block") do |f| %>
        <%= render 'expense_form', f: f %>
        <div class="actions">
            <%= button_tag "Back", type: "button", class: "back-to-expense-index-btn"%>
            <%= f.submit "Add expense" %>
        </div>
    <% end %>
    <%= form_with(url: expenses_path, local: true, id: "edit-expense-form", method: "patch", class: "block") do |f| %>
        <%= render 'expense_form', f: f %>
        <div class="actions">
            <%= button_tag "Back", type: "button", class: "back-to-expense-index-btn"%>
            <%= f.submit "Edit expense" %>
        </div>
    <% end %>
</div>
